/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #929aab;
}

a:hover {
    color: #ff7517;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header, .footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.header h1, .footer p {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #929aab;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #ff7517;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .header, .footer {
        padding: 15px 0;
    }
}